Source: yq
Section: utils
Priority: optional
Maintainer: Dario Griffo <dariogriffo@gmail.com>
Build-Depends: debhelper-compat (= 13), wget, ca-certificates
Standards-Version: 4.6.2
Homepage: https://github.com/mikefarah/yq
Rules-Requires-Root: no

Package: yq
Architecture: amd64 arm64 armhf ppc64el s390x riscv64 i386
Depends: ${misc:Depends}
Description: portable command-line YAML, JSON, XML, CSV, TOML and properties processor
 yq is a lightweight and portable command-line processor for YAML, JSON, XML,
 CSV, TOML and properties files, using jq-like syntax. A single dependency-free
 Go binary.
